{% extends "layout.twig" %}

{% block content %}

<section class="page wrapper">
	
    <header class="clearfix">
       {{widget('companyheader', 'companyheader', {"defaultlogo": asset('images/logo.png')})|raw}}
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </header>

    <section class="intro">
    	{{widget('content', 'intro', {"content":"<h2 style='text-align: center'>DESIGN <span class='highlight'>&amp;</span> BRANDING</h2>"})|raw}}
    	<div class="widget line">
            <hr class="line"></hr>
        </div>
        {{widget('content', 'introsub', {"content":"<h4 style='text-align: center'>Lorem ipsum dolor sit amet consectetur adipiscing elit. Pellentesque fringilla  <br>ipsum vitae eleifend. Mauris dictum justo gravida fringilla libero sed ornare leo.</h4>"})|raw}}
    </section>

    <div class="wrapper">
    	{{widget('feature', 'featurehome', {"header": "", "strapline":"", "buttonText":"FView our portfolio →","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
	</div>

	<div class="main wrapper clearfix">
	    {{zone('main')|raw}}
	</div>

	<footer>
	    <div class="wrapper">
	        <div class="responsivecolumns columns-three-33-34-33">
	            <div class="column columns-three-left">
	                {{widget('content', 'footercolumn1', {"content":'<h2>LOREM IPSUM</h2><p>Integer a Tortor dui nullam nec antemi morbi sodales urna sit amet mauris.</p>'})|raw}}
	            </div>
	            <div class="column columns-three-middle">
	                {{widget('content', 'footercolumn2', {"content":'<h2>MORBI ALAM</h2><p><span>t:&nbsp;</span> (020) 12 345 678<br><span>e:&nbsp;</span> youremail@provider.com</p>'})|raw}}
	            </div>
	            <div class="column columns-three-right">
	                {{widget('content', 'footercolumn1', {"content":'<h2>SOLADES</h2>'})|raw}}
	                {{widget('socialicons', 'socialicons', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
	            </div>
	        </div>
	    </div>
	</footer>

</section>

{% endblock %}